<li id="to_do_<%= to_do.id %>" class="list-group-item">
  <span class="pull-left to-do-checkbox">
    <%= link_to toggle_checkbox_url(to_do.id), remote: true do  %>
      <% if to_do.completed %>
        <%= icon('check-square-o','', class: 'fa-2x') %>
      <% else %>
        <%= icon('square-o','', class: 'fa-2x') %>
      <% end %>
    <% end %>
  </span>
  <span class="desc"><%= to_do.desc %></span>
  <div class="pull-right">
    <a href="<%= edit_to_do_url(to_do) %>" class="btn btn-warning" data-remote="true"><%= icon('pencil-square-o') %></a>
    <a href="<%= to_do_url(to_do) %>" class="btn btn-danger" data-remote="true" data-method="delete"><%= icon('trash-o') %></a>
  </div>
</li>
